<main>
  <h1 class="font-bold text-[70px]">Nos réalisations</h1>
  <h2 class="font-semibold text-[32px] mb-10">Choisir une galerie</h2>
  <div class="flex gap-[50px]">
    <a
      routerLink="/portfolio/illustrations" 
      routerLinkActive="active"
      class="border-4 border-[#bbb] w-[300px] h-[400px] rounded-md cursor-pointer text-[#bbb] hover:text-[#53c28b] bg-cover"
      style="background-image: url('/assets/illustration.png')"
    >
      <h3 class="font-semibold text-[40px]  absolute left-[170px] bottom-[40px]">
        Illustrations
      </h3>
    </a>
    <a
      routerLink="/portfolio/websites"
      routerLinkActive="active"
      class="border-4 border-[#bbb] w-[300px] h-[400px] rounded-md cursor-pointer text-[#bbb] hover:text-[#53c28b] bg-cover"
      style="background-image: url('/assets/websites.jpg')"
    >
      <h3 class="font-semibold text-[40px]  absolute left-[570px] bottom-[40px]">
        Websites
      </h3>
    </a>
    <a
      routerLink="/portfolio/illustrations"
      routerLinkActive="active"
      class="border-4 border-[#bbb] w-[300px] h-[400px] rounded-md cursor-pointer text-[#bbb] hover:text-[#53c28b] bg-cover"
      style="background-image: url('/assets/apps.jpg')"
    >
      <h3 class="font-semibold text-[40px]  absolute right-[360px] bottom-[40px]">
        Applications
      </h3>
    </a>
  </div>
</main>
