<main [ngClass]="mode">
  <div class="max-w-[1366px] min-h-[100vh] my-0 mx-auto py-0 px-[60px]">
    <!-- Navbar -->
    <nav class="h-[100px] flex justify-between items-center">
      <a routerLink="/" routerLinkActive="active" class="font-bold text-[22px]"
        >Nec
      </a>
      <div class="flex items-center gap-6">
        <div
          class="hidden max-[768px]:block"
          *ngIf="!showLinks"
          (click)="handleShowLinks()"
        >
          <mat-icon class="text-2xl cursor-pointer hidden">menu</mat-icon>
        </div>
        <div
          class="hidden max-[768px]:block"
          *ngIf="showLinks"
          (click)="handleShowLinks()"
        >
          <mat-icon class="text-2xl cursor-pointer">close</mat-icon>
        </div>
        <div
          class="w-[42px] h-[24px] border-[1.5px] border-[#53c28b70] rounded-[30px] flex justify-between items-center p-[2px] relative cursor-pointer"
          (click)="toggleMode()"
        >
          <div class="text-[12px]">🌙</div>
          <div class="text-[12px]">🔆</div>
          <div
            class="absolute w-[15px] h-[15px] bg-[#53c28b] rounded-full transition-all duration-300 ease-in-out"
            [ngStyle]="ballPosition"
          ></div>
        </div>
        <!-- Menu 1 -->
        <div class="flex items-center gap-6 max-[768px]:hidden">
          <a routerLink="/" routerLinkActive="active">Home</a>
          <a routerLink="/portfolio" routerLinkActive="active">Portflolio</a>
          <a routerLink="/blog" routerLinkActive="active">Blog</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </div>
        <!-- Menu 2 -->
        <div class="hidden max-[768px]:flex max-[768px]:flex-col max-[768px]:items-center max-[768px]:absolute max-[768px]:bottom-28 max-[768px]:border max-[768px]:right-0 max-[768px]:left-0 " *ngIf="showLinks">
          <a routerLink="/" routerLinkActive="active">Home</a>
          <a routerLink="/portfolio" routerLinkActive="active">Portflolio</a>
          <a routerLink="/blog" routerLinkActive="active">Blog</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </div>
      </div>
    </nav>
  </div>
</main>

<router-outlet></router-outlet>
