/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light {
  background-color: #fbfdff;
  color: #111;
}

.dark {
  background-color: #0d1520;
  color: #bbb;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.animate-move {
  animation: move 4s infinite ease alternate;
}