<div>
  <div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-9xl font-bold text-gray-700">404</h1>
      <h2 class="text-2xl font-bold text-gray-600">Page introuvable</h2>
      <p class="mt-2 text-gray-600">
        Oops! La page que vous recherchez n'existe pas. Il a peut-être été
        déplacé ou supprimé.
      </p>
      <div class="mt-6">
        <a
          href="/"
          class="px-4 py-3 text-white bg-gray-900 rounded hover:bg-gray-800"
          >Retourner à la page d'accueil</a
        >
      </div>
    </div>
  </div>
</div>
